<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d2.truth_or_dare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Truth or Dare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".GameFinished"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TruthOrDarePresentation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDPicking"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RandomPlayerPicking"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerInputs"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>